name: Makefile CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
    # - uses: ocaml/setup-ocaml@v1.1.11
    
    - name: Install ocaml
      run:  sudo apt install ocaml
    - name: Install ocamlbuild
      run:  sudo apt install ocamlbuild  
    - name: Install lit
      run:  pip install lit
    - name: Compile Dice Compiler
      run: make toplevel.native
    - name: Run tests
      run: make test
    
